
<link href="https://getbootstrap.com/docs/3.3/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" method="post" action="">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
          <a class="navbar-brand" href="{% url 'signup' %}">Sign in</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

